@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&family=Roboto&display=swap');

* {
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --condilify-logo-size: 350px;
    --condilify-code-line-width: 3%;
    --condilify-code-line-height: 5%;
}

body {
    margin: auto;
    font-size: 18px;
    max-width: 1920px;
}

/* ACHOR START */
a {
    text-decoration: none;
}

/* ACHOR END */

/* TEXT ALIGNMENT START */
.center {
    text-align: center;
}

/* TEXT ALIGNMENT END */

/* HEADER START */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1920px;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 61px;
    width: 100%;
    height: calc(100vh - 61px);
    text-align: center;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
}

.header li a:any-link {
    color: rgb(18, 18, 18);
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .brand {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}

.header .logo {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
    width: 12rem;
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 100%;
    width: 100%;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: calc(100vh - 61px);
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* HEADER END */

/* MAIN START */
main {
    margin-top: 61px;
}

.landing {
    position: relative;
    height: calc(100vh - 61px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 1080px;
    min-height: 720px;
}

.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/images/arnold-francisca-nPhl2x4fk2s-unsplash.webp');
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.5) blur(3px);
}

.landing .jumbo-intro {
    flex: 0 1 60%;
    background: rgb(20 55 106 / 86%);
    padding: 20px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(244, 244, 244);
    z-index: 2;
}

ul.ul {
    list-style: none;
    line-height: 2rem;
    padding-left: 0;
}

ul.ul li {
    position: relative;
    padding-left: 1.5em;
    /* space to preserve indentation on wrap */
}

ul.ul li:before {
    position: absolute;
    left: 0;
    /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
}

ul.ul.tick-list li:before {
    content: '✓';
}

ul.ul.diamond-list li:before {
    content: '◈';
}

ul.ul.fish-eye-list li:before {
    content: '◉';
}

.landing .intro-image {
    flex: 0 1 40%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .intro-image .logo-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(134 150 173 / 86%);
}

.landing .intro-image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(/static/media/images/pexels-canva-studio-3194519.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing .intro-image img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    top: -999px;
    right: -999px;
    bottom: -999px;
    left: -999px;
    margin: auto !important;
    width: initial;
}


.landing .intro-image img {
    width: 100%;
}

/* MAIN END */
.h1 {
    font-size: clamp(3rem, 4vw, 4rem);
}

.h2 {
    font-size: clamp(1.85rem, 3vw, 3rem);
}

.h3 {
    font-size: clamp(1.7rem, 2.6vw, 2.6rem);
}

.h4 {
    font-size: clamp(1.3rem, 2.2vw, 2rem);
}

.h5 {
    font-size: clamp(1.15rem, 2vw, 1.9rem);
}

.h6 {
    font-size: clamp(1rem, 1.9vw, 1.7rem);
}

.h7 {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

/* LOGO START */

.codilyfy-logo * {
    all: unset;
}

.codilyfy-logo {
    position: relative;
    height: var(--condilify-logo-size);
    width: var(--condilify-logo-size);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.codilyfy-logo .screen {
    position: relative;
    border: calc(var(--condilify-logo-size) / 35) solid #000;
    width: 75%;
    height: 45%;
    border-radius: 3px 3px 0 0;
    padding: 2% 2% 2% 6%;
    background-color: #f4f4f4;
    overflow: hidden;
}

.codilyfy-logo .screen .backdrop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: reveal 5s 3s infinite;
}

.codilyfy-logo .screen .code {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.codilyfy-logo .screen .code .code-line {
    display: flex;
    height: calc(var(--condilify-logo-size) / 56);
}

.codilyfy-logo .screen .code .code-line .seg {
    background-color: #000;
    height: 100%;
    border-radius: 3px;
}

.codilyfy-logo .screen .code .code-line .seg:hover {
    background-color: rgb(8, 39, 101);
}

.codilyfy-logo .screen .code .code-line .seg:not(:first-child) {
    margin-left: 5px;
}

.codilyfy-logo .screen .code .code-line.line-1 .seg-1 {
    width: 35%;
}

.codilyfy-logo .screen .code .code-line.line-2 .seg-1 {
    width: 50%;
}

.codilyfy-logo .screen .code .code-line.line-3 .seg-1 {
    width: 20%;
}

.codilyfy-logo .screen .code .code-line.line-3 .seg-2 {
    width: 40%;
}

.codilyfy-logo .screen .code .code-line.line-4 .seg-1 {
    width: 15%;
}

.codilyfy-logo .screen .code .code-line.line-4 .seg-2 {
    width: 30%;
}

.codilyfy-logo .screen .code .code-line.line-4 .seg-3 {
    width: 20%;
}

.codilyfy-logo .screen .code .code-line.line-5 .seg-1 {
    width: 35%;
}

.codilyfy-logo .screen .code .code-line.line-5 .seg-2 {
    width: 45%;
}

.codilyfy-logo .screen .code .code-line.line-6 .seg-1 {
    width: 50%;
}

.codilyfy-logo .screen .code .code-line.line-7 .seg-1 {
    width: 15%;
}

.codilyfy-logo .screen .code .code-line.line-7 .seg-2 {
    width: 30%;
}

.codilyfy-logo .screen .code .code-line.line-7 .seg-3 {
    width: 20%;
}

.codilyfy-logo .screen .code .code-line.line-8 .seg-1 {
    width: 35%;
}

.codilyfy-logo .screen .code .code-line.line-8 .seg-2 {
    width: 45%;
}

.codilyfy-logo .screen .code .code-line.line-9 .seg-1 {
    width: 50%;
}

.codilyfy-logo .screen .code .code-line.line-10 .seg-1 {
    width: 15%;
}

.codilyfy-logo .screen .code .code-line.line-10 .seg-2 {
    width: 30%;
}

.codilyfy-logo .screen .code .code-line.line-10 .seg-3 {
    width: 20%;
}

.codilyfy-logo .screen .code .code-line::before {
    content: "";
    position: absolute;
    left: -5%;
    margin-top: 0.3%;
    border-radius: 3px;
    width: var(--condilify-code-line-width);
    height: var(--condilify-code-line-height);
    background-color: #000;
}

.codilyfy-logo .keyboard {
    position: relative;
    border: calc(var(--condilify-logo-size) / 40) solid #000;
    width: 100%;
    height: 4%;
    border-radius: 0 0 10px 10px;
    background-color: #000;
}

/* WHAT WE DO START */
.what-we-do-section {
    padding-top: 20px;
}

.what-we-do {
    display: flex;
    justify-content: space-evenly;
}

.what-we-do .we-do {
    flex: 1 0 50%;
    padding: 20px 50px;
}

/* WHAT WE DO END */

/* VISION MISSION VALUES START */
.vision-mission-section {
    display: flex;
    padding-top: 40px;
}


.vision {
    background: #E6E6E6;
}

.values-section {
    display: flex;
}

.flex-equal {
    flex: 1 0 50%;
}

.vision,
.mission {
    padding: 20px 50px;
}

.mission {
    background: rgb(20 55 106 / 86%);
    color: #f4f4f4;
}

.values {
    padding: 20px 50px;
}

.values-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.values-image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(/static/media/images/krakenimages-Y5bvRlcCx8k-unsplash.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.2);
}

.values-image-text {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    padding: 50px;
}

/* VISION MISSION VALUES END */

/* CROSSWORD START */
.crossword {
    display: block;
}

.square {
    margin: 0 1px 1px 0;
    display: inline-block;
    font: 2vw Calibri;
    width: 2vw;
    height: 2vw;
    line-height: 1em;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.letter {
    background-color: rgb(255, 255, 255);

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.char:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 32, 32, 1);
    -moz-box-shadow: 0 0 0 2px rgba(255, 32, 32, 1);
    box-shadow: inset 0 0 0 2px rgba(255, 32, 32, 1);
}

.char {
    font-size: 24px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 0;
    margin: -1px 0 0 -1px;
    width: 1.35em;
    height: 1.35em;
    text-align: center;
    background: none;
}

.hide {
    visibility: hidden;
}

.clueReadOnly {
    border: 0;
    outline: 0;
    color: #1a1a1a !important;
    background: none;
}

/* CROSSWORD END */

/* CARD START */
.card {
    box-shadow: 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
    padding: 1px 20px 10px 20px;
    border-radius: 3px;
}

/* CARD END */

@keyframes reveal {
    0% {
        height: 100%;
    }

    99% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

/* LOGO END */

/* 48em = 768px */

@media (max-width: 48em) {

    .landing,
    .what-we-do,
    .vision-mission-section,
    .values-section {
        flex-direction: column;
    }

    .landing .jumbo-intro,
    .what-we-do .we-do,
    .flex-equal {
        flex: 1 1 100%;
        width: 100%;
    }

    .landing .intro-image {
        flex: 1 1 100%;
    }

}

@media (min-width: 48em) {
    .header {
        justify-content: space-between;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        position: relative;
        top: auto;
        width: auto;
        height: 59px;
    }
}